.test {
    position: relative;
    width: 200px;
    color: red;
    border: 1px solid black;
}

.bem {
    width: 200px;
    height: 200px;
    padding: 10px;
    color: rosybrown;
    border: 1px solid black;

    &__element {
        color: blue;
    }

    p {
        a {
            height: 20px;
        }
    }

    &_modifier {
        color: green;
    }
}

.testVvlad2 {
    color: green;
}
